
@{
    ViewBag.Title = "IndexManageRoom";
    Layout = "~/Views/Shared/_LayoutManageRoom.cshtml";
}

@section script{
    <script defer src="~/Content/js/fontawesome-all.js"></script>
    <script type="text/javascript">

    </script>
}

@section ContentHeaderManageRoom{
    Trang chủ cho Admin
}

<h2>Trang chủ cho Admin</h2>

