@model MVCQLKS.Models.Customer

@{
    ViewBag.Title = "RegisOrderNext";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section ContentHeader{
    Kiem tra CMND Dat Phong
}

<h2>KiemTraCMNDDatPhong</h2>
<p> @ViewBag.id </p>
<p> @ViewBag.name </p>
