@model MVCQLKS.Models.OrderDetail

@section ContentHeader{
    Đăng ký thuê phòng
}

@{
    ViewBag.Title = "KiemTraNgayTraPhong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>KiemTraNgayTraPhong</h2>
<p>@ViewBag.id</p>
<p>@ViewBag.cmnd</p>
<p>@ViewBag.date</p>